@import "../../app.scss";

.education {
  height: 100vh; 
  padding: 10px; 
  display: flex;
  justify-content: center;
  align-items: center;
  
  .wrapper {
    height: 100%;
    max-width: 1366px; 
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;

    .title-con {
      display: flex;
      align-items: center;
      text-align: center;
      gap: 100px; 


      @include mobile {
        flex-direction: column;
        gap: 0px;
      
      }

      img {
        width: 100%;
        max-width: 480px; 
        height: auto; 

        @include mobile {
         display: none;
        }
      }


      .title {
        h1 {
          font-size: 3.5rem; 
          font-weight: 400;
          margin-bottom: 16px; 

          @include mobile {
            font-size: 50px;
          }
        }

        h3 {
          font-size: 1.8rem;
          font-weight: normal; 
          margin-bottom: 16px;
          
          @include mobile {
            display: none;
          }
        }

      }

      .social {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px; 
        
        a {
          display: inline-block; 
        }
        
        img {
          width: 35px; 
          border-radius: 50%;
          height: 35px;

          @include mobile {
           display: none;
          }
        }
      }
    }

    .degreeTitle {
        font-size: 45px;
        font-weight: 500;

        @include mobile {
          font-size: 35px;
          margin: 10px 0px;
        }
    }
    .degrees {
      width: 100%; 
      max-width: 1120px;
      margin-top: 40px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 30px; 

      @include mobile {
        margin-top: 15px;
        gap: 20px;

      }
      .degree-item {
        height: 220px;
        width: 100%;
        background: rgb(52, 51, 51); 
        border-radius: 8px;
        color: #d8d3d3;
        padding:  20px 40px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); 
        display: flex;
        align-items: center;
        gap: 50px;

        @include mobile {
          flex-direction: column;
          align-items: center;
          justify-content: center;
          padding:  0px 0px;
          height: 250px;
          gap: 10px;
        }

        img {
          width: 180px;
          height: 160px;
          max-width: 180px; 
          @include mobile {
            width: 150px;
            height: 150px;
          }
        }

        h1 {
          font-size: 28px; 
          font-family: sans-serif;
          font-weight: 500;
          margin-bottom: 5px;

          @include mobile {
            font-size: 18px;
          }
        }

        h3 {
          font-size: 22px;
          font-weight: normal;
          font-style: italic;
          @include mobile {
            font-size: 15px;
          }
        }

      }
    }
 
  }
}
